/* added by me start from here*/
.root {
    flex-grow: 1;
  }
  .content-heading {
    font-size: 30px;
    font-style: bold;
  }
  
  .paper {
    padding: 10px;
    text-align: center;
  }
  
  .paper-complex-grid {
    margin: auto;
    max-width: 500px;
    padding: 10px;
  }
  .image {
    width: 128px;
    height: 128px;
  }
  
  .img {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
  }

  .button-style {
    margin: 10px;
    margin-right: 10px;
  }
  .input {
    display: none;
  }

  .fab {
    margin: theme-spacing(1);
  }

  .extendedIcon {
    margin-right: theme-spacing(1);
  }
  
  /* added by me end at here*/